body {
    font-family: sans-serif;
    background: black;
}

/* Navigacija */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li ul {
    position: absolute;
}

.navbar {
    border: 2px solid beige;
    border-radius: 15px;
    max-width: 98%; 
    margin: 15px auto;
    background: rgb(30, 60, 94);
    color: beige;
}

.navbar-nav {
    margin-top: 5px;
}

.btn {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 2px;
    background: rgb(30, 60, 94);
    box-shadow: 5px 5px 5px lightseagreen;
    color: beige;
}

/* END of Navigacija */

#prijava, #registracija, #zaboravljena {
    margin: 200px auto;
    border: 2px solid beige;
    border-radius: 15px;
    background: #fbfbf0;
    padding: 20px;
    color: rgb(15, 139, 139);
    box-shadow: 15px 15px 15px lightseagreen;
    opacity: 0.9;
    visibility: hidden;
}

#dobrodosli, #odjava {
    max-width: 600px;
    margin: 200px auto;
    text-align: justify;
    padding: 10px 30px 0px 30px;
    font-size: 20px;
    border: 2px solid beige;
    border-radius: 10px;
    background: #fbfbf0;
    box-shadow: 15px 15px 15px lightseagreen;
    opacity: 0.9;
    visibility: hidden;
}

#obrisi {
    float: right;
}

h5 {
    color: rgb(15, 139, 139);
}

/* MODAL umesto Alert box-a */

.modal-content {
    max-width: 600px;
    background: #fbfbf0;
    padding: 0px 20px 0px 20px;
    border-radius: 15px; 
    margin: 200px auto;
    border: 2px solid beige;
    font-size: 20px;
    font-style: oblique;
    color: rgb(15, 139, 139);
    box-shadow: 15px 15px 15px lightseagreen;
    opacity: 0.9;
}

.modal-title { 
    color: lightseagreen;
}

.modal-body { 
    color: darkblue;
}

.id {
    width: 20px;
}

.u-name {
    margin-top: 5px;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 98%;
    height: 30px;
    text-align: center;
    font-style: italic;
    font-size: 10px;
    color: beige;
    background: rgb(30, 60, 94);
    padding-top: 5px;
    border: 2px solid beige;
    border-radius: 10px;
}

#artikli, #roba {
    margin: 80px 10px auto 40px;
    border: 2px solid beige;
    border-radius: 15px;
    background: #fbfbf0;
    padding: 20px;
    color: rgb(15, 139, 139);
    box-shadow: 15px 15px 15px lightseagreen;
    opacity: 0.9;
    visibility: hidden;
}

#tabela, #tabelarobe {
    margin: 80px auto auto auto;
    border: 2px solid beige;
    border-radius: 15px;
    background: #fbfbf0;
    color: rgb(15, 139, 139);
    box-shadow: 15px 15px 15px lightseagreen;
    opacity: 0.9;
    padding-left: 20px;
    padding-right: 5px;
}

::placeholder {
    font-size: 10px;
    font-style: italic;
    color: beige;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer; 
  }

.table {
    width: 900px;
    table-layout: fixed;
    white-space: normal!important;
    margin: 30px 10px auto auto;
    font-size: 10px;
    background: #fbfbf0;
    color: blue;
    text-align: center;
    box-shadow: 15px 15px 15px rgb(30, 60, 94);
    opacity: 0.9;
}

th {
    font-size: 14px;
    color: rgb(15, 139, 139);
    font-style: italic;
    font-weight: bold;
    width: 1%;
}

td {
    word-wrap: break-word;
}

#slika {
    border: 1px solid black;
    height: 80px;
    width: 80px;
    margin: auto;   
}

#obrisi, #obrisiart {
    float: right;
}

#izmeniart {
    margin-left: 300px;
}


.header {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 98%;
    height: 40px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: beige;
    background: rgb(30, 60, 94);
    padding-top: 5px;
    border: 2px solid beige;
    border-radius: 10px;
}